.page-header
  %h1
    Services

%table
  - @services.each do |service|
    %tr
      %td
        %h3= service.name
        %br/
      %td= link_to 'Show', service
      %td= link_to 'Edit', edit_service_path(service)
      %td= link_to 'Destroy', service, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Service', new_service_path
