%h1.header
  Pages

%table.table
  - @pages.each do |page|
    %tr
      %td
        %h3= page.name

      %td{:width=>'40px'}= link_to 'Edit', edit_admin_page_path(page), :class => 'btn btn-mini'
      %td{:width=>'50px'}= link_to 'Delete', admin_page_path(page), :confirm => "Delete #{page.name}?", :method => :delete, :class => 'btn btn-mini btn-danger'

%br/
= link_to 'New Page', new_admin_page_path, :class => 'btn btn-large btn-success'