-if @service.errors.any?
  #error_explanation
    %h2= "#{pluralize(@service.errors.count, "error")} prohibited this service from being saved:"
    %ul
      - @service.errors.full_messages.each do |msg|
        %li= msg

- unless params[:action] == 'new'
  .field
    = f.label :category_id
    = f.select :category_id, options_from_collection_for_select(@categories, :id, :name, @service.category.try(:id))
.field
  = f.label :name
  = f.text_field :name
.field
  = f.label :description
  = f.text_area :description, :rows => 4

.actions
  %br/
  = f.submit 'Save', :class => 'btn btn-large btn-success'
  &nbsp;&nbsp;
  = link_to 'Cancel', admin_category_services_path(@category)
