%h1.header
  == #{@category.name} Services

%table.table
  - @services.each do |service|
    %tr
      %td
        %h3= service.name
      %td{:width=>'40px'}= link_to 'Edit', edit_admin_service_path(service), :class => 'btn btn-mini'
      %td{:width=>'50px'}= link_to 'Delete', admin_service_path(service), :confirm => "Delete '#{service.name}?'", :method => :delete, :class => 'btn btn-mini btn-danger'

%br/
= link_to "New #{@category.name} Service", new_admin_category_service_path(@category), :class => 'btn btn-large btn-success'
