%h2
  Welcome to Asset Building Bay Area!

%p
  To log into your account, please use the information below:

%ul
  %li
    URL:
    = link_to 'http://www.assetbuilding-bayarea.org/admin', 'http://www.assetbuilding-bayarea.org/admin'
  %li
    Email: 
    = @user.email
  %li
    Temporary Password:
    = @password
    
%p
  If you wish to change your password, please use this link: 
  = link_to 'http://assetbuilding-bayarea.org/users/password/new', 'http://assetbuilding-bayarea.org/users/password/new'

%p
  If you have any questions, please contact
  = mail_to 'accan@urbanstrategies.org', 'accan@urbanstrategies.org'