Welcome to Asset Building Bay Area!

To log into your account, please use the information below:

URL:
= link_to 'http://www.assetbuilding-bayarea.org/admin', 'http://www.assetbuilding-bayarea.org/admin'

Email: 
= @user.email

Temporary Password:
= @password

== If you wish to change your password, please use this link: #{link_to 'http://assetbuilding-bayarea.org/users/password/new', 'http://assetbuilding-bayarea.org/users/password/new'}

== If you have any questions, please contact #{mail_to 'accan@urbanstrategies.org', 'accan@urbanstrategies.org'}