%h3 
  Who are we?
%p
  == This resource directory was created through a partnership between #{link_to 'Urban Strategies Council', 'http://www.urbanstrategies.org/'}, #{link_to 'Community Financial Resources', 'http://www.communityfinancialresources.net/'} (CFR), and three local Bay Area asset-building coalitions:
  %ul
    %li== #{link_to 'Alameda County Community Asset Network', 'http://www.accan.org/'} (AC CAN)
    %li== #{link_to 'Family Economic Security Partnership', 'http://www.firstfivecc.org/index.php?page=family-economic-security-partnership'} (FESP) in Contra Costa County
    %li== #{link_to 'Prosperity Partners in Marin County', 'http://camarin.org/programs/prosperity-partners/'}

%p Asset building collaboratives are groups of organizations that work to increase the income and assets of low- to moderate-income families by connecting them to a range of services, including financial education, benefits and income supports, employment supports, credit building and debt management, housing, legal assistance, banking and savings products, and financial coaching. 

%h3 
  How is this directory different?
%p 
  We are working to improve collaboration and referrals across organizations.  Many existing resource tools, including 211, are extremely useful for clients seeking general information about available services.  This regional directory is a complement to those tools and creates a one-stop site for in-depth information about income and asset-building services across the Bay Area.  Beginning with an existing tool developed by AC CAN and supported by the research team at Urban Strategies Council, we have updated, enhanced and expanded the directory to improve the functionality and make it easier for direct service providers to connect families to the resources they need.  
In particular the site has the following features:  
%ul
  %li Organizational profiles with contact information, public transportation/parking, map of location, eligibility requirements, hours of operation, languages, mission, and descriptions of services
  %li Ability to search by keyword, type of service, agency, and/or location
  %li Ability to filter results based on zip code, language, and other preferences
  %li Printable results to distribute to clients

%h3 
  Who is our target audience?
%p
  The directory is geared toward staff at local community organizations and provides comprehensive information about income and asset-building services available across the Alameda, Contra Costa, and Marin.  The local collaboratives recognize that individuals and families often live and work in different counties and the directory includes regional, state and national resources to help local families attain long-term financial security.  

%h3 
  Want to Join Us?
%p
  == We have plans to make this resource a truly regional tool and we rebuild with this in mind. We’d love to hear from you about getting your county or local coalition as part of this system- our overhead is very small and we’re easy to work with! Contact #{mail_to 'accan@urbanstrategies.org', 'accan@urbanstrategies.org'} to join us.

%h3 
  Want to build your own resource guide for your city?
%p
  Once this system is stable and launched we will also be open sourcing the code to allow other cities outside of the Bay Area to get this type of resource up and running fast and with little cost. Stay tuned...