.page-header
  %h1
    Organizations

%table.large
  - @organizations.each do |organization|
    %tr
      %td
        %h3= organization.name
      %td= link_to 'Locations', admin_organization_locations_path(organization)
      %td= link_to 'Edit', edit_admin_organization_path(organization)
      %td= link_to 'Destroy', admin_organization_path(organization), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Organization', new_organization_path
