%h1 Listing categories

%table
  %tr
    %th Name
    %th Description
    %th
    %th
    %th

  - @categories.each do |category|
    %tr
      %td= category.name
      %td= category.description
      %td= link_to 'Edit', edit_admin_category_path(category)
      %td= link_to 'Delete', admin_category_path(category), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Category', new_admin_category_path
