%h1.header
  Services

%table.table
  - @categories.each do |category|
    %tr
      %td
        %h3= category.name
      %td{:width=>'80px'}= link_to "Services (#{category.services.try(:size)})", admin_category_services_path(category), :class => 'btn btn-mini'
      %td{:width=>'40px'}= link_to 'Edit', edit_admin_category_path(category), :class => 'btn btn-mini'
      %td{:width=>'50px'}= link_to 'Delete', admin_category_path(category), :confirm => "Delete #{category.name} and #{category.services.try(:size)} related services?", :method => :delete, :class => 'btn btn-mini btn-danger'

%br/
= link_to 'New Category', new_admin_category_path, :class => 'btn btn-large btn-success'