.page-header
  %h1
    Organizations

%table
  - @organizations.each do |organization|
    %tr
      %td
        %h3= organization.name
        %br/
      %td= link_to 'Show', organization
      %td= link_to 'Edit', edit_organization_path(organization)
      %td= link_to 'Destroy', organization, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Organization', new_organization_path
