%p#notice= notice

%p
  %b Name:
  = @organization.name
%p
  %b Description:
  = @organization.description
%p
  %b Address:
  = @organization.address
%p
  %b City:
  = @organization.city
%p
  %b Zipcode:
  = @organization.zipcode
%p
  %b Latitude:
  = @organization.latitude
%p
  %b Longitude:
  = @organization.longitude
%p
  %b Phone:
  = @organization.phone
%p
  %b Website:
  = @organization.website
%p
  %b Email:
  = @organization.email
%p
  %b Population:
  = @organization.population
%p
  %b Goal 1:
  = @organization.goal_1
%p
  %b Goal 2:
  = @organization.goal_2
%p
  %b Goal 3:
  = @organization.goal_3
%p
  %b Goal 4:
  = @organization.goal_4

= link_to 'Edit', edit_organization_path(@organization)
\|
= link_to 'Back', organizations_path
