-if @user.errors.any?
  .alert.alert-error
    %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
    %ul
      - @user.errors.full_messages.each do |msg|
        %li= msg

.field
  = f.check_box :admin
  Admin User?
  %br/
  %br/
.field
  = f.label :email
  = f.email_field :email
- unless params[:action] == 'new' || params[:action] == 'create'
  .field
    = f.label :password
    = f.password_field :password
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation

%h3 Authorized Organizations
%br/

- for organization in @organizations
  .field
    = check_box_tag :organization_ids, organization.id, @user.organizations.include?(organization), :name => 'user[organization_ids][]'
    = organization.name

.actions
  %br/
  = f.submit 'Save', :class => 'btn btn-large btn-success'
  &nbsp;&nbsp;
  = link_to 'Cancel', admin_users_path