-if @county.errors.any?
  .alert.alert-error
    %h2= "#{pluralize(@county.errors.count, "error")} prohibited this county from being saved:"
    %ul
      - @county.errors.full_messages.each do |msg|
        %li= msg

.field
  = f.label :name
  = f.text_field :name

.actions
  %br/
  = f.submit 'Save', :class => 'btn btn-success btn-large'
  &nbsp;&nbsp;
  = link_to 'Cancel', admin_counties_path
