%tr
  %td.top{:width=>'20px'}
    = check_box_tag "category_#{category.id}", true, session[:category_ids].try(:include?, category.id), :class => 'category_checkbox'
  %td.top
    = category.name
    
- if category.services.present?
  %tr{:id => "category_#{category.id}_services"}
    %td{:colspan=>2}
      %table
        - for service in category.services
          %tr
            %td{:width=>'20px'}
            %td.top{:width=>'20px'}
              = check_box_tag "service_#{service.id}", true, session[:service_ids].include?(service.id), :class => "category_#{category.id}_service_checkbox service_checkbox"
            %td.top
              = service.name