%tr
  %td.top{:width=>'20px'}
    = check_box_tag "category_#{category.id}", false, session[:category_ids].try(:include?, category.id), :class => 'category_checkbox'
  %td.top
    = category.name
    == (#{category.locations.size})
    %div{:class => 'services', :id => "category_#{category.id}_services"}
      - for subcategory in category.services
        %div
          = check_box_tag "subcategory_#{subcategory.id}", false, session[:subcategory_ids].try(:include?, subcategory.id), :class => 'subcategory_checkbox'
          = subcategory.name
          == (#{subcategory.locations.size})