= form_for @location do |f|
  -if @location.errors.any?
    #error_explanation
      %h2= "#{pluralize(@location.errors.count, "error")} prohibited this location from being saved:"
      %ul
        - @location.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :organization_id
    = f.number_field :organization_id
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :city
    = f.text_field :city
  .field
    = f.label :zipcode
    = f.text_field :zipcode
  .field
    = f.label :latitude
    = f.text_field :latitude
  .field
    = f.label :longitude
    = f.text_field :longitude
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :fax
    = f.text_field :fax
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :hours
    = f.text_area :hours
  .field
    = f.label :directions
    = f.text_area :directions
  .field
    = f.label :wheelchair_accessible
    = f.check_box :wheelchair_accessible
  .field
    = f.label :bart_accessible
    = f.check_box :bart_accessible
  .field
    = f.label :muni_bus_accessible
    = f.check_box :muni_bus_accessible
  .field
    = f.label :muni_train_accessible
    = f.check_box :muni_train_accessible
  .field
    = f.label :ac_bus_accessible
    = f.check_box :ac_bus_accessible
  .field
    = f.label :free_parking
    = f.check_box :free_parking
  .field
    = f.label :parking_meters
    = f.check_box :parking_meters
  .field
    = f.label :paid_parking_lot
    = f.check_box :paid_parking_lot
  .field
    = f.label :free_street_parking
    = f.check_box :free_street_parking
  .field
    = f.label :public_transportation_stop
    = f.text_field :public_transportation_stop
  .field
    = f.label :parking_fees
    = f.text_field :parking_fees
  .actions
    = f.submit 'Save'
