.page-header
  %h1
    Locations

%table.large
  - @locations.each do |location|
    %tr
      %td
        %h3= location.name
      %td= link_to 'Show', location
      %td= link_to 'Edit', edit_location_path(location)
      %td= link_to 'Destroy', location, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Location', new_location_path
