%br/
.row
  .span12
    = simple_format(Page.find_by_name('Home').try(:body))
    
= gmaps('markers' => {"data" => @json}, 'map_options' => { 'raw' => '{ scrollwheel: false }' })

.row
  .span7
    #locations
      = render :partial => 'locations'
  
  #filters.span4.well
    %h3 Categories
    %table
      - for category in @categories
        = render :partial => 'category', :locals => {:category => category}

    %br/
    %h3 Languages
    %table
      - for language in @languages
        = render :partial => 'language', :locals => {:language => language}

    %br/
    %h3 Counties
    %table
      - for county in @counties
        = render :partial => 'county', :locals => {:county => county}
    
    %br/           
    %span{:id => 'clear_filters'}
      Clear Filters
            
- content_for :scripts do
  :javascript
    $(document).ready(function() {
    $(':checkbox').attr('checked', false);
    });
  = render :partial => 'checkboxes.js'