%br/
.row
  .span7
    Welcome to Bay Area Resources. To get started, please enter your home address and then click 'Search' to see the resources near you.  You can filter your results by clicking the checkboxes in the left column below the map.
  .span5
    = form_tag('/locations', :method => :get)
    = text_field_tag :address, nil, :placeholder => "Your Address"
    = select_tag :miles, options_for_select([['1 mile', 1],['2 miles', 2],['3 miles', 3],['4 miles', 4],['5 miles', 5],['10 miles', 10],['20 miles', 20],['30 miles', 30],['40 miles', 40],['50 miles', 50]]), :prompt => "Distance"
    = submit_tag "Search"
    
%br/
= gmaps4rails(@json)

.row
  .span8
    #locations
      = render :partial => 'locations'
  
  #filters.span3.well
    %h3 Filter Services
    %br/
    %table
      - for category in @categories
        = render :partial => 'category', :locals => {:category => category}

                        
- content_for :scripts do
  = render :partial => 'checkbox_script'
  %script
    $(document).ready(function() {
    $('.category_checkbox').each(function() { $(this).prop('checked', 'checked');});
    $('.service_checkbox').each(function() { $(this).prop('checked', 'checked');});
    });