%br/
.row
  .span12
    = simple_format(Page.find_by_name('Home').try(:body))
    
= gmaps('markers' => {"data" => @json}, 'map_options' => { 'raw' => '{ scrollwheel: false }' })

.row
  .span7
    #locations
      = render :partial => 'locations'
  
  #sidebar.span4.well
    = render :partial => 'filters'
    = render :partial => 'address_search'
        
- content_for :scripts do
  :javascript
    $(document).ready(function() {
    $(':checkbox').attr('checked', false);
    });
  = render :partial => 'checkboxes.js'