%br/
.row
  .span7
    Welcome to Bay Area Resources. To get started, please enter your home address and then click 'Search' to see the resources near you.  You can filter your results by clicking the checkboxes in the left column below the map.
  .span5
    = form_tag('/locations', :method => :get)
    = text_field_tag :address, nil, :placeholder => "#{@address_placehoder}"
    = submit_tag "Search"
    - if params[:address]
      &nbsp;
      = link_to 'reset', locations_path(:address => '')

%br/
= gmaps4rails(@json)

.row
  .span4
    %h3 Categories
    %br/
    %table
      - for category in @categories
        %tr
          %td.top{:width=>'20px'}
            = check_box_tag "category_#{category.id}", true, session[:category_ids].include?(category.id), :class => 'category_checkbox'
          %td.top
            = category.name
    %br/
    %br/
    
    %h3 Services
    %br/
    %table    
      - for service in @services
        %tr
          %td.top{:width=>'20px'}
            = check_box_tag "[services][#{service.id}]"
          %td.top
            = service.name

  .span8
    = render :partial => 'locations'
            
- content_for :scripts do
  %script
    $(function() {
    $(".category_checkbox").click(function() {
    var ID = this.id.split("_")[1];
    if ($('#' + this.id).is(':checked')) { 
    $.get("/locations.js", {"add_category":ID});
    } else { 
    $.get("/locations.js", {"remove_category":ID});
    }
    })
    })