%br/
.row
  .span7
    Welcome to Bay Area Resources. To get started, please enter your home address and then click 'Search' to see the resources near you.  You can filter your results by clicking the checkboxes in the left column below the map.
  .span5
    = form_tag('/locations', :method => :get)
    = text_field_tag :address, nil, :placeholder => "Your Address"
    = select_tag :miles, options_for_select([[1],[2],[3],[4],[5],[10],[20],[30],[40],[50]]), :prompt => "Distance"
    = submit_tag "Search"
    - if params[:address]
      &nbsp;
      = link_to 'reset', locations_path(:address => '')

%br/
= gmaps4rails(@json)

.row
  .span8
    #locations
      = render :partial => 'locations'
  
  .span1
    &nbsp;
  
  .span3
    %h3 Categories
    %br/
    %table
      - for category in @categories
        %tr
          %td.top{:width=>'20px'}
            = check_box_tag "category_#{category.id}", true, session[:category_ids].include?(category.id), :class => 'category_checkbox'
          %td.top
            = category.name
    %br/
    %br/
    
    %h3 Services
    %br/
    %table    
      - for service in @services
        %tr
          %td.top{:width=>'20px'}
            = check_box_tag "[services][#{service.id}]"
          %td.top
            = service.name
      
= debug session
            
- content_for :scripts do
  = render :partial => 'checkbox_script'