%h1= @location.try(:organization).try(:name)

.row
  .span6
    %br/
    == #{@location.full_address}
    %br/
    = @location.phone
    %br/
    = @location.fax
    %br/
    = mail_to @location.email, @location.email
    %br/
    %br/

    - if @location.hours.present?
      %h3 Hours
      = @location.hours
      %br/
      %br/
    
    - if @location.organization.try(:population)
      %div
        %h3 Population Served
        = @location.organization.population
      %br/

    - if @location.services.present?
      %h3 Services
      - for category in Category.all(:order => :name)
        - if (@location.services && category.services).present?
          %h4
            = category.name
          %ul
            - for service in category.services
              %li= service.name
          %br/
    
    - if @location.organization.try(:locations).try(:size).try(:>, 1)
      %br/
      %h3 Other Locations
      - @location.organization.locations.each do |location|
        - unless location == @location
          = link_to location.address, location_path(location)
          %br/
    
    - if @organization.try(:languages).try(:present?)
      %br/
      %h3 Languages
      - for language in @organization.languages
        = language.name
        %br/
      
  .span5
    = gmaps("markers" => {'data' => @json}, "map_options" => {"auto_zoom" => false, "zoom" => 15})
    - if @location.directions.present?
      %h3 Directions
      = @location.directions
      %br/
      %br/
  
    %h3 Accessibility
    %table
      %tr
        %td{:width=>'200px'} Wheelchair Accessible:
        %td= @location.wheelchair_accessible
      %tr
        %td BART Accessible:
        %td= @location.bart_accessible
      %tr
        %td MUNI Bus Accessible:
        %td= @location.muni_bus_accessible
      %tr
        %td MUNI Train Accessible:
        %td= @location.muni_train_accessible
      %tr
        %td AC Bus Accessible:
        %td= @location.ac_bus_accessible
    
      %tr
        %td{:colspan=>2}
          %br/
          %h3 Parking
      %tr
        %td Free Parking:
        %td= @location.free_parking
      %tr
        %td Parking Meters:
        %td= @location.parking_meters
      %tr
        %td Paid Parking Lot:
        %td= @location.paid_parking_lot
      %tr
        %td Free Street Parking:
        %td= @location.free_street_parking
      %tr
        %td Parking Fees:
        %td= @location.parking_fees