%h1= @location.try(:organization).try(:name)

= gmaps4rails(@json)

%h3 Address
== #{@location.full_address}
%br/
%br/

%h3 Contact Info
= @location.phone
%br/
= @location.fax
%br/
= @location.email
%br/
%br/

%h3 Hours
= @location.hours
%br/
%br/

%h3 Directions
= @location.directions
%br/
%br/

%table
  %tr
    %td{:width=>'200px'} Wheelchair Accessible:
    %td= @location.wheelchair_accessible
  %tr
    %td BART Accessible:
    %td= @location.bart_accessible
  %tr
    %td MUNI Bus Accessible:
    %td= @location.muni_bus_accessible
  %tr
    %td MUNI Train Accessible:
    %td= @location.muni_train_accessible
  %tr
    %td AC Bus Accessible:
    %td= @location.ac_bus_accessible
  %tr
    %td Free Parking:
    %td= @location.free_parking
  %tr
    %td Parking Meters:
    %td= @location.parking_meters
  %tr
    %td Paid Parking Lot:
    %td= @location.paid_parking_lot
  %tr
    %td Free Street Parking:
    %td= @location.free_street_parking
  %tr
    %td Parking Fees:
    %td= @location.parking_fees