%h1= @location.try(:organization).try(:name)

.row
  .span6
    %h3 Contact Information
    %h4 Location
    == #{@location.full_address}
    %br/
    = @location.phone
    %br/
    = @location.fax
    %br/
    = mail_to @location.email, @location.email
    %br/
    - if @organization.present?
      %br/
      %h4 Organization
      = @organization.phone
      %br/
      = mail_to @organization.email, @organization.email
      %br/
      = link_to @organization.website, @organization.website
    %br/

    - if @location.hours.present?
      %h3 Hours
      = @location.hours
      %br/
      %br/
    
    - if @location.organization.try(:population)
      %div
        %h3 Population Served
        = @location.organization.population
      %br/

    - if @location.services.present?
      %h3 Services
      - for category in Category.all(:order => :name)
        - if (@location.services && category.services).present?
          %h4
            %br/
            = category.name
          %table
            - for service in category.services
              %tr
                %td{:width=>'22px'}= image_tag('check.png')
                %td= service.name
    
    - if @location.organization.try(:locations).try(:size).try(:>, 1)
      %br/
      %h3 Other Locations
      - @location.organization.locations.each do |location|
        - unless location == @location
          = link_to location.address, location_path(location)
          %br/
    
    - if @location.try(:languages).try(:present?)
      %br/
      %h3 Languages
      - for language in @location.languages
        = language.name
        %br/
      
  .span5
    = gmaps("markers" => {'data' => @json}, "map_options" => {"auto_zoom" => false, "zoom" => 15})
    - if @location.directions.present?
      %h3 Directions
      = @location.directions
      %br/
      %br/
  
    %h3 Accessibility
    %table
      %tr
        %td{:width=>'22px'}= checkbox_helper(@location.wheelchair_accessible)
        %td Wheelchair Accessible
      %tr
        %td= checkbox_helper(@location.bart_accessible)
        %td BART Accessible
      %tr
        %td= checkbox_helper(@location.muni_bus_accessible)
        %td MUNI Bus Accessible
      %tr
        %td= checkbox_helper(@location.muni_train_accessible)
        %td MUNI Train Accessible
      %tr
        %td= checkbox_helper(@location.ac_bus_accessible)
        %td AC Bus Accessible
    
      %tr
        %td{:colspan=>2}
          %br/
          %h3 Parking
      %tr
        %td{:width=>'22px'}= checkbox_helper(@location.free_parking)
        %td Free Parking
      %tr
        %td= checkbox_helper(@location.parking_meters)
        %td Parking Meters
      %tr
        %td= checkbox_helper(@location.paid_parking_lot)
        %td Paid Parking Lot
      %tr
        %td= checkbox_helper(@location.free_street_parking)
        %td Free Street Parking
      %tr
        %td= checkbox_helper(@location.parking_fees)
        %td Parking Fees
        